@import url('https://fonts.googleapis.com/css2?family=Damion&family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Futura PT';
  src: local('Futura PT Book'), local('Futura-PT-Book'),
    url(../fonts/FuturaPT-Book.woff2) format('woff2'),
    url(../fonts/FuturaPT-Book.woff) format('woff'),
    url(../fonts/FuturaPT-Book.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
    url(../fonts/ProximaNova-Regular.woff2) format('woff2'),
    url(../fonts/ProximaNova-Regular.woff) format('woff'),
    url(../fonts/ProximaNova-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Semibold'), local('Proxima-Nova-Semibold'),
    url(../fonts/ProximaNova-Semibold.woff2) format('woff2'),
    url(../fonts/ProximaNova-Semibold.woff) format('woff'),
    url(..//fonts/ProximaNova-Semibold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #565252;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
[class*='col-'] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url(../images/header-background-image.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.logo-image {
  height: 50px;
  width: auto;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
h1 {
  margin: 0;
}
.header-text {
  padding-top: 150px;
}
#header-title {
  max-width: 32%;
  margin-left: 8.33%;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
  color: #171717;
  letter-spacing: 0.179487em;
  font-size: 2.8em;
  line-height: 1em;
  font-weight: 400;
  font-style: normal;
}

.header-headline {
  margin-left: 8.33%;
  background-color: #ffffff;
  padding: 15px;
  max-width: 32%;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1px;
}

.logo-text {
  float: left;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 12px;
  font-family: 'Futura PT';
  margin-left: 4.33%;
}
.logo-text a {
  text-decoration: none;
  color: #1a1a1a;
}
.main-nav {
  float: right;
  list-style: none;
}
.main-nav li {
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 0.85em;
  font-family: 'Proxima Nova';
}
.main-nav li a {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 600;
  letter-spacing: 3px;
}

.main-nav li:first-of-type a {
  color: #c2c2c2;
}
.main-nav li a:hover {
  color: rgba(26, 26, 26, 0.7);
}
nav {
  height: 70px;
  background-color: #ffffff;
  padding: 25px;
}
.header-buttons {
  margin-left: 8.33%;
  margin-top: 1em;
  /* background-color: #ffffff; */
  padding: 15px;
  max-width: 32%;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1px;
}
.button:link,
.button:visited {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  background-color: #f85191;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #f85191;
}
.button-more:link,
.button-more:visited {
  background: none;
}
.button:hover,
.button:active {
  background-color: #b13061;
  border: 1px solid #b13061;
  transition: background-color 0.3s, border 0.3s;
}

.photo {
  padding-top: 50px;
}
.main-photo {
  margin-left: 16.66%;
  margin-right: 25px;
  margin-bottom: 25px;
}
.main-photo,
.any-photo {
  padding: 0;
}
.article {
  margin-right: 16.66%;
  margin-bottom: 25px;
}
.main-photo img {
  width: 100%;
  height: auto;
}
.any-photo img {
  width: 100%;
  height: auto;
}
